body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    h2{
        text-align: center;
        background-color: green;
        border-radius: 17px;
        color: white;
        padding: 8px 8px;
    }

    .calculator {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 300px;
    }

    .calculator label {
        display: block;
        margin-bottom: 10px;
        color: black;
        font-weight: bold;
    }

    .calculator input[type="number"] {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        font-size: 17px;
        border: 1px solid #ccc;
        border-radius: 3px;
        color: black;
    }

    .calculator button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 13px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }

    .calculator button:hover {
        background-color: #0056b3;
    }

    #result {
        margin-top: 10px;
        font-weight: bold;
        text-align: center;
    }
    
    #message {
        margin-top: 10px;
        font-weight: bold;
        text-align: center;
    }